
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(Fondos/Fondo\ 8.png);
    background-size:cover;
    background-position: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    text-align: center;
}

h2 {
    margin-bottom: 18px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-group input[type="checkbox"] {
    display: inline-block;
}

.input-group label[for="rememberMe"] {
    display: inline-block;
    margin-left: 5px;
    color: #000000;
}

.input-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #8D265C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-group input[type="submit"]:hover {
    background-color: #9CAD8C;
}

.forgot-password {
    text-align: center;
    margin-top: 15px;
}

.forgot-password a {
    color: #9CAD8C;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}